<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <title>Update Employee</title>
</head>

<body>
    {% include 'navbar.html'%}

    <h1 class="text-center my-3">Update Employee</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/employee/doUpdate/{{emp.id}}" method="POST">
                            {% csrf_token %}
                            <label for="empId">Employee ID</label>
                            <input class="form-control" type="text" id="empId" name="empId" value="{{emp.emp_id}}">
                            <label for="empName">Employee Name</label>
                            <input class="form-control" type="text" id="empName" name="empName" value="{{emp.emp_name}}">
                            <label for="empPhone">Employee Phone</label>
                            <input class="form-control" type="tel" id="empPhone" name="empPhone" value="{{emp.emp_phone}}">
                            <label for="empAddress">Employee Address</label>
                            <input class="form-control" type="text" id="empAddress" name="empAddress" value="{{emp.emp_address}}">
                            <br>
                            <label for="empGender">Employee Gender</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="empGender" id="empGender" {% if emp.emp_gender == "Male" %} checked {% endif %} value="Male">
                                <label class="form-check-label" for="empGender">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="empGender" id="empGender" {% if emp.emp_gender == "Female" %} checked {% endif %} value="Female">
                                <label class="form-check-label" for="empGender">Female</label>
                            </div>
                            <br><br>
                            <label for="empDept">Employee Department</label>
                            <select value="{{emp.emp_department}}" class="form-control" id="empDept" name="empDept" >
                                <option value="Frontend">Frontend</option>
                                <option value="Backend">Backend</option>
                                <option value="Tester">Tester</option>
                                <option value="Non-Tech">Non-Tech</option>
                            </select>
                            <div class="container text-center mt-3">
                                <button type="submit" class="btn btn-primary">
                                    Update Employee
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>